body {
  background-image: url("../images/back.jpg");
}

li {
    padding: 5px;
    margin: 5px;
    background: lightcoral;
  }

  .heading {
    padding: 5px;
    margin: 5px;
    background: lightsalmon;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }
  